<header>
    <a href="javascript:void(0)" class="m-doc-nav-btn"></a>
    <div class="m-mobile-doc-level1"><%#
        %><% for(var i = 0; i < navs.length; i++) { %><%#
            %><% if(i === navIndex) { %><%#
                %><div class="m-mobile-level1-selected"><span><%- navs[i].text %></span><img src="<%- url_for('img/nav_arrow.png') %>"/></div><%#
                %><ul><%#
                    %><% for(var i = 0; i < navs.length; i++) {%><%#
                        *%><li <% if(i === navIndex) { %> class="m-doc-header-nav-selected" <% } %>><%#
                            %><a href="/docs<%- navs[i].link %>/"><%- navs[i].text %></a><%#
                        %></li><%#
                    %><% } %><%#
                %></ul><%#
            %><% } %><%#
        %><% } %>
        <div class="m-mobile-doc-header-list-mask"></div>
    </div>
    <div class="m-doc-logo-wrapper">
        <div class="m-doc-logo">
            <a href="https://smartprogram.baidu.com/developer/index.html">
                <img src="<%- url_for('img/logo_new.png') %>" id="developer-index"/>
            </a>
            <span class="m-doc-logo-line"></span>
            <a href="">
                <img src="<%- url_for('img/logo_docs.png') %>" class="docs-logo" id="docs-index"/>
            </a>
        </div>
    </div>

    <div class="m-doc-other">
        <div class="m-doc-forum m-doc-item">
            <a href="https://smartprogram.baidu.com/forum?hmsr=%E5%B0%8F%E7%A8%8B%E5%BA%8F%E6%96%87%E6%A1%A3%E5%B9%B3%E5%8F%B0&hmpl=%E6%9D%A5%E6%BA%90%E7%BB%9F%E8%AE%A1&hmcu=&hmkw=&hmci=" target="_blank">社区</a>
        </div>
        <div class="m-doc-service-market m-doc-item">
            <a href="https://smartprogram.baidu.com/developer/servicemarket.html" target="_blank">服务市场</a>
        </div>
    </div>

    <%- partial('./header-nav', {}) -%>
    <%- partial('./search') -%>
</header>